/* 
layout.css should contain general positioning on the page
Apply to elements such as header, footer, nav, aside
Classes and IDs can be included here
 */
 .abs-display-left {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
    cursor: pointer;
}

.abs-display-right {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    cursor: pointer;
}

@media screen and (max-width: 375px){
    .pad-btn-mobile {
        padding-top:20vh ;
        /* padding: 0;
        margin: 0;
        list-style: none;
        display: flex; */
    }
    
    .pad-btn-mobile .btn{
        margin:0 10vh;
        /* justify-content: space-around; */
    }

    .abs-display-right{
        position: relative;
        right: 0%;
    }

    .abs-display-left{
        position: relative;
        left: 0%;
    }
    
}